html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(href="https://fonts.cdnfonts.com/css/general-sans?styles=135312,135310,135313,135303", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap", rel="stylesheet")
        link(rel="stylesheet", href="css/tailwind/tailwind.min.css")
        link(rel="stylesheet", href="css/main.css")
        link(rel="icon", type="image/png", sizes="32x32", href="shuffle-for-tailwind.png")
        script(src="js/main.js")
    body(class="antialiased bg-body text-body font-body")
        div(class="")
            section(class="py-32 bg-white overflow-hidden")
                div(class="container px-4 mx-auto")
                    div(class="flex flex-wrap lg:items-center -m-8")
                        div(class="w-full md:w-1/2 p-8")
                            img(class="mx-auto transform hover:-translate-y-4 transition ease-in-out duration-1000 myclass", src="images/tieenda.jpg", alt="")
                        div(class="w-full md:w-1/2 p-8")
                            h2(class="mb-20 text-6xl md:text-7xl font-bold font-heading tracking-px-n leading-tight md:max-w-lg", contenteditable="false") Vianney Innovación
                            div(class="flex flex-wrap -m-1.5")
                                div(class="w-full p-1.5")
                                    div(class="flex flex-wrap -m-6")
                                        div(class="w-auto p-6")
                                            div(class="relative mb-3 w-10 h-10 text-lg text-white font-bold bg-indigo-600 rounded-full")
                                                img(class="absolute top-0 left-0", src="flaro-assets/images/how-it-works/gradient.svg", alt="")
                                                span(class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2") 1
                                            img(class="relative left-3", src="flaro-assets/images/how-it-works/line.svg", alt="")
                                        div(class="flex-1 p-6")
                                            div(class="md:max-w-xs")
                                                h3(class="mb-3 text-2xl font-semibold leading-snug") Bienvenida
                                                p(class="text-gray-700 font-medium leading-relaxed text-justify", contenteditable="false") Este evento se llevará a cabo en un lugar pendiente a determinar los próximos 29 y 30 de Septiembre de 2022, se les hará llegar la convocatoria a su correo electrónico contará con la participación de personas claves en el desarrollo de la empresa y durante este evento trabajaremos en soluciones para potenciar a las vendedoras por catálogo, pasando de una simple idea a un producto terminado y con ventas en tan solo 2 días.
                                                |       
                                                |       
                                                |       Para preparar el evento es muy importante que leas todos los materiales de estudio  que encontras a continuación.
                                                |       
                                div(class="w-full p-1.5")
                                    div(class="flex flex-wrap -m-6")
                                        div(class="w-auto p-6")
                                            div(class="relative -left-1 mb-3 w-10 h-10 text-lg text-white font-bold bg-indigo-600 rounded-full")
                                                img(class="absolute top-0 left-0", src="flaro-assets/images/how-it-works/gradient.svg", alt="")
                                                span(class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2") 2
                                            img(class="relative left-3", src="flaro-assets/images/how-it-works/line2.svg", alt="")
                                        div(class="flex-1 p-6")
                                            div(class="md:max-w-xs")
                                                h3(class="mb-3 text-2xl font-semibold leading-snug", contenteditable="false") Preparación del Evento
                                                p(class="MsoNormal", style="border:none;mso-border-bottom-alt:solid windowtext .75pt;
                                                    padding:0cm;mso-padding-alt:0cm 0cm 1.0pt 0cm")
                                                p(class="MsoNormal", style="border:none;mso-border-bottom-alt:solid windowtext .75pt;
                          padding:0cm;mso-padding-alt:0cm 0cm 1.0pt 0cm")
                                                    a(href="")  Para preparar el evento es muy importante que leas todos los materiales de estudio  que encontras a continuación.
                                                p
                                                p
                                                p(class="text-gray-700 font-medium leading-relaxed")
                                                div(style="border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom-width: 1pt; border-bottom-color: windowtext; padding: 0cm 0cm 1pt;")
                                                    p(class="MsoNormal font-bold", style="border:none;mso-border-bottom-alt:solid windowtext .75pt;
                                                            padding:0cm;mso-padding-alt:0cm 0cm 1.0pt 0cm", contenteditable="false") Como identificar una oportunidad
                                                    |                         de negocio
                                                    p
                                                    p(class="MsoNormal", style="border:none;mso-border-bottom-alt:solid windowtext .75pt;
                                                  padding:0cm;mso-padding-alt:0cm 0cm 1.0pt 0cm")
                                                        a(href="https://blog.hellostepchange.com/blog/how-to-identify-clear-business-opportunities") https://blog.hellostepchange.com/blog/how-to-identify-clear-business-opportunities
                                                    p
                                                    p(class="MsoNormal font-bold", style="border:none;mso-border-bottom-alt:solid windowtext .75pt;
                                                            padding:0cm;mso-padding-alt:0cm 0cm 1.0pt 0cm") Tipos de ideas de negocios
                                                    p
                                                    p(class="MsoNormal", style="border:none;mso-border-bottom-alt:solid windowtext .75pt;
                                                  padding:0cm;mso-padding-alt:0cm 0cm 1.0pt 0cm")
                                                        a(href="https://www.youtube.com/watch?v=rmQZSUV35n4") https://www.youtube.com/watch?v=rmQZSUV35n4
                                                    p
                                                    p(class="MsoNormal font-bold", style="border:none;mso-border-bottom-alt:solid windowtext .75pt;
                                                            padding:0cm;mso-padding-alt:0cm 0cm 1.0pt 0cm") Como escoger una idea para un
                                                    |                         negocio
                                                    p
                                                    p(class="MsoNormal", style="border:none;mso-border-bottom-alt:solid windowtext .75pt;
                                                  padding:0cm;mso-padding-alt:0cm 0cm 1.0pt 0cm")
                                                        a(href="https://www.youtube.com/watch?v=565NGVOGQgw") https://www.youtube.com/watch?v=565NGVOGQgw
                                                    p
                                                    p(class="MsoNormal font-bold", style="border:none;mso-border-bottom-alt:solid windowtext .75pt;
                                                            padding:0cm;mso-padding-alt:0cm 0cm 1.0pt 0cm") Como Validar una idea para un
                                                    |                         negocio
                                                    p
                                                    p(class="MsoNormal", style="border:none;mso-border-bottom-alt:solid windowtext .75pt;
                                                  padding:0cm;mso-padding-alt:0cm 0cm 1.0pt 0cm")
                                                        a(href="https://medium.com/inside-efounders/how-to-validate-a-startup-idea-6c0b031c8338") https://medium.com/inside-efounders/how-to-validate-a-startup-idea-6c0b031c8338
                                                    p
                                                p
                                div(class="w-full p-1.5")
                                    div(class="flex flex-wrap -m-6")
                                        div(class="w-auto p-6")
                                            div(class="relative left-5 mb-3 w-10 h-10 text-lg text-white font-bold bg-indigo-600 rounded-full")
                                                img(class="absolute top-0 left-0", src="flaro-assets/images/how-it-works/gradient.svg", alt="")
                                                span(class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2") 3
                                        div(class="flex-1 p-6")
                                            div(class="md:max-w-xs")
                                                h3(class="mb-3 text-2xl font-semibold leading-snug") Entrevista ADI
                                                p(class="text-gray-700 font-medium leading-relaxed") En los próximos días se te enviaran los detalles para que realices una entrevista a una vendedora por catálogo de manera virtual para que puedas familiarizarte con la experiencia de una vendedora por catálogo.
                                                |       
                                                |       
                                                |       
